Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
package-lock.json
yarn.lock
pnpm-lock.yaml
test
*.log
local-*
.env
.env.local
.env.production
db/*.db
db/*.db-journal
.vercel
.turbo
.DS_Store
